import React, { useContext, useState } from "react";
import { val } from "./ValNav";
import AlertModal from "./AlertModal";

function Modals() {
  const arr = [
    {
      Head: "Basic Modal",
      Butt: "Launch demo modal",
    },
    {
      Head: "Static Backdrop",
      Butt: "Launch static backdrop modal",
    },
    {
      Head: "Scrolling Long Content",
      Butt: "Scrolling long content",
    },
    {
      Head: "Vertical Centered Scrollable",
      Butt: "Launch demo modal",
    },
    {
      Head: "Tooltips And Popovers",
      Butt: "Launch demo modal",
    },
    {
      Head: "Using The Grid",
      Butt: "Launch demo modal",
    },
    {
      Head: "Toggle Between Mod",
      Butt: "Open first modal",
    },
    {
      Head: "Toggle Between Mod",
      Butt: "Open first modal",
    },
    {
      Head: "Toggle Between Mod",
      Butt: "Open first modal",
      hrf: "Open first modal",
    },
  ];

  const { mode } = useContext(val);
  const mode_change = {
    backgroundColor: mode === "light" ? "white" : "#262C3C",
    color: mode === "dark" ? "white" : "black",
    boxShadow: mode === "light" ? "" : " 0px 3px 4px 0px #373C4A",
  };

  const [model, setModel] = useState(false);
  const handleModel = () => {
    setModel(!model);
  };
  return (
    <>
      <div className="aline  w-11/12">
        <div
          className={` alerts translate-x-96  top-20 absolute ${
            model ? "" : "hidden"
          }`}
        >
          <AlertModal />
        </div>
      </div>
      <div className="mode">
        <div className="dashboardcont  pt-5 text-white text-3xl pl-10 pr-4 flex  h-32 justify-between">
          Modals & Closes{" "}
          <p className=" text-sm m-3  flex space-x-5">
            <p>Advance UI </p> <p>»</p>{" "}
            <p className=" font-bold"> Modals & Closes</p>
          </p>
        </div>
        <div className=" modals -mt-12 ">
          {arr.map((e) => (
            <div className="  my-3">
              <div className="w-11/12 rounded-lg m-auto  " style={mode_change}>
                <div className="head p-4 text-lg font-semibold">{e.Head}</div>
                <hr />
                <div className="btn p-5">
                  <div
                    onClick={handleModel}
                    className="hover:bg-violet-600 hover:text-white text-sm button p-2 border-2 border-violet-600 text-violet-600  w-fit rounded-lg"
                  >
                    {e.Butt}
                  </div>
                  <div
                    onClick={handleModel}
                    className="hover:bg-violet-600 hover:text-white text-sm button p-2 border-2 border-violet-600 text-violet-600  w-fit rounded-lg"
                  >
                  </div>
                </div>
              </div>
            </div>
          ))}
        </div>
      </div>
    </>
  );
}

export default Modals;
