@tailwind base;
@tailwind components;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(230, 221, 221); */
}

img{
  object-fit: cover;
}

.accod {
  width: 400px;
}

.circle{
  border-left: 17px solid rgb(175, 50, 175);
  border-bottom: 17px solid rgb(175, 50, 175);
  border-right: 17px solid rgb(175, 50, 175);
  
}
.boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1400px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }}
  @media (max-width: 1200px) {
    .boxes {
      grid-template-columns: repeat(2, 1fr);
    }
  }

 @media(max-width:765px)and (min-width: 600px)   {
  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }
} 

 @media (max-width: 599px) and ( min-width: 407px) {
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
} 


@media (max-width: 406px) {
  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
.navbar,.dashboardcont{
  background-image: linear-gradient( 45deg,rgb(91, 91, 239), rgb(151, 79, 151));
}
.velvet{
  background-color: rgb(28, 44, 63)
}

.box {
  font-family: inter, sans-serif;
  padding: 10px;
  font-size: 13px;
  line-height: 19.5px;
  background-color: white;
  margin-top: 36px;
  margin-left: 20px;
  /* height: 124px; */
  min-height: auto;
  min-height: auto;
  word-wrap: break-word;
  transition: all 0s ease 0s;
  border-radius: 10px;
  box-shadow: 0px -10px rgba(199, 198, 198, 0.849);
    position: relative;
}
.card {
  background-color: white;
  margin: auto;
  padding: 12px;
  border-radius: 5px;
  margin-top: 36px;
  margin-left: 20px;
  /* height: auto; */
  width:95%;
  border: 0.5px solid gray;
}

.cart {
  width: 352px;
}

.container{
  display: flex;
}
.cards4{
  display: flex;
  
}
.task{
  width: 146px;
}
.date{
  width: 64px;
}
.card7{
  width: 30%;
}
.card8{
  margin-top: -8px;
}

@media(max-width:1400px){
  .card7{
    width: 95%;
  }
  .card8{
    margin-top: 36px;
  }
  .task{
    width: auto;
  }
  .date{
    margin-left: 20px;
    width: auto;
  }
  .cards1{
    display: flex;
    flex-grow: 1;
  }
 .card3 img{
  height: 400px;
 }
  .container{
    display: grid;
  }
  .cards4{
    display: grid;
  }
} 
@media(max-width:992px){
  .cards1{
    display: grid;
  }
}



@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
